CLAUDE.md

# Virtual environment
.venv/

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Data and output (not tracked)
samples/*
profiles/*
results/*


# Final Data
!profiles/Don_Final.json
!profiles/Rhett_Final.json
!samples/DR_Test_Set/
!samples/DR_Test_Set/**
!results/DR_Test_Set_Don/
!results/DR_Test_Set_Don/*
!results/DR_Test_Set_Rhett/
!results/DR_Test_Set_Rhett/*